{% extends 'homepage.html' %}
{% block addcss %}
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>view link</th>
                <th>Download link</th>
                <th>Update link</th>

                
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr> 
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td><a href="{{url_for('viewfid',uid=i[0])}}">view</a></td>
                <td><a href="{{url_for('download',uid=i[0])}}">download</a></td>
                <td><a href="{{url_for('fileupdate',uid=i[0])}}">update</a></td>
                <td><a href="{{url_for('filedelete',uid=i[0])}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}